#textpred table {
	text-align: center;
	background-color: lightgrey;
	border-collapse: collapse;
	
}

#textpred table,th, td {
	border: 5px solid black;
	font-size: 20px;
	color:red;
}

.shiny-notification{
  position: fixed;
  top: 33%;
  left: 33%;
  right: 33%;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 189px;
}

#textpred2 {
    width:700px;
}